/* ----- built in changes ----- */

	body
	{
		background-color: #ffffff;
	}


/* --- standard colour scheme --- */

	.yellowFieldSet
	{
		background-color: rgb(245,245,170);
		border: solid rgb(190,190,0) 1px;
		padding: 1em;
		display:inline-block;
	}

	.yellowFieldSet legend
	{
		font-weight:bold;
		background-color: rgb(245,245,170);
	}

/* --- standard colour scheme --- */

	.darkRedColor
	{
		color: #c00000;
	}

	.lightBlueBackground
	{
		background-color: rgb(195,195,255);
	}

	.lightGreyBackground
	{
		background-color: rgb(235,235,235);
	}
		
	.genericBorderedTable
	{
		border-collapse: collapse;
	}
	
	.genericBorderedTable td, .genericBorderedTable th
	{
		border:solid grey 1px;
	}
	
	.genericBorderedTable td, .genericBorderedTable th
	{
		padding-left: 1em;
		padding-right: 1em;
	}
	
	.genericBorderedTable th
	{
		font-weight: bold;
		background-color: #c8c8ff;
	}
	
	.dataTableRowColor
	{
		background-color: #f8f8f8;
	}


/* ----- misc ----- */	
	
	.errorMessages
	{
		color: #d00000;
	}
	
	.infoMessages
	{
		color: #00b000;
	}

	
	
